@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'TT Hoves';
        src: url('/fonts/TT Hoves Regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'TT Hoves';
        src: url('/fonts/TT Hoves Medium.otf') format('opentype');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'TT Hoves';
        src: url('/fonts/TT Hoves Bold.otf') format('opentype');
        font-weight: bold;
        font-style: normal;
    }
    body {
        font-family: 'TT Hoves', sans-serif;
    }
    button {
        cursor: pointer;
    }
}